extends layout

block cabecera
  include portada
    
  script(src="/js/front.js")

block contenido
  //- include ../public/img/icon/onda_vertical.svg
  
  img(src="/img/flamenco.png", style="height: 10vh; position: absolute; top:10vh; left: 1vw; z-index:1;")
    
  .editor
    style.
      .editor{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    input#c1(type="color") 
    input#c2(type="color") 
    input#c3(type="color") 
    input#c4(type="color") 
    script.
      window.addEventListener('load', () => {
        let estilo = getComputedStyle(document.documentElement)
        let c1 = document.querySelector('#c1')
        let c2 = document.querySelector('#c2')
        let c3 = document.querySelector('#c3')
        let c4 = document.querySelector('#c4')
        c1.value = estilo.getPropertyValue('--color-base')
        c2.value = estilo.getPropertyValue('--color-menu')
        c3.value = estilo.getPropertyValue('--color-comp-1')
        c4.value = estilo.getPropertyValue('--color-comp-2')
        c1.addEventListener('input', () => 
          document.documentElement.style.setProperty('--color-base', c1.value))
        c2.addEventListener('input', () => 
          document.documentElement.style.setProperty('--color-menu', c2.value))
        c3.addEventListener('input', () => 
          document.documentElement.style.setProperty('--color-comp-1', c3.value))
        c4.addEventListener('input', () => 
            document.documentElement.style.setProperty('--color-comp-2', c4.value))
      })
      
  
  include divisores

  for articulo in articulos
    .articulo(id=articulo.id)!=articulo.contenido
