extends layout

block cabecera
  include portada
    
  script(src="/js/front.js")

block contenido
  //- include ../public/img/icon/onda_vertical.svg
  include divisores

  for articulo in articulos
    .articulo(id=articulo.id)!=articulo.contenido
