extends layout

block cabecera
  include portada
  //- if celu
  //-   include portada_mobile
  //- else
  //-   include portada_desktop
    
  script(src="/js/front.js")

block contenido

  for articulo in articulos
    .articulo(id=articulo.id)!=articulo.contenido
