extends layout


block cabecera
  if celu
    .portada
      .telon(style="background-image: url(/img/logo19.png); background-size: contain; background-position: center; background-repeat: no-repeat;")
        .titulo
          h1 Convención Argentina de Malabares
        .flechita
        .logo
  else
    .portada
      .telon
        .titulo
          h1 Convención Argentina de Malabares
        .flechita
      video(autoplay=true loop=true)
        source(src="/video/portada-2.mp4" type="video/mp4")

block contenido

  .articulo
    .cabecera
      h2(style="font-size: 3em") ¡Se viene la cuarta CAM! 
      h2 19 a 24 de abril de 2022, Miramar, Córdoba
    .texto
      p ¡Una vez más el malabar nos encuentra para una semana de talleres, seminarios, shows, amistades, comilonas y circo!
      p La #[em Convención Argentina de Malabares] vuelve con todo, y ya estamos planificando, gestionando y articulando para que sea una fiesta de reencuentro.
      p El escenario será #[em Miramar de Ansenuza], Córdoba, junto a la laguna Mar Chiquita. Allí estaremos acampando y habitando en el #[em Centro Cultural "La Escuelita"]. La fecha, del #[em 19 al 24 de abril].
      p Una vez más el foco de conve va a estar puesto sobre la formación. #[b Está abierta la recepción de propuestas de seminaristas]. Si tenés una propuesta, #[a(href="https://forms.gle/Siopo6FwKsaT1oMh7") ¡enviala!]
      p Este año estamos en articulación con el #[a(href="https://colectivoanido.com") Colectivo A-Nido] para la confección del programa de formación. Buscamos organizar líneas de seminarios articuladas por temáticas (técnica/escena/investigación/etc).
      p También estamos en articulación con Circo del Litoral, ocupandose de comunidad, redes y difusión, y Santuanime, en la convocatoria para artistas, organización de espectáculos y técnica. Coordinamos Cuete y Luci, de La Parlota Circo.
      p Iremos informando lo que vaya sucediendo de este lado por nuestras redes y por este mismo sitio.
      p ¡Nos saltotea el corazón de alegría! ¡Vuelve la CAM! ¡Vaaaamooooo!
      p Les esperamos con entusiasmo y abrazos multiplex
    img(src="/img/funcional.jpg")
