extends layout

block contenido
  script.
    addEventListener('load', () => document.querySelector('.jesus').style.display = 'none');
    addEventListener('keypress', (e) => {
      if(e.key=='j') document.querySelector('.jesus').style.display = 'block';
      if(!Object.keys(window).includes('sonando')){
        let audio = new Audio('/video/Noches-de-Miramar.mp3');
        audio.volume = 0.3;
        audio.play();
        window.sonando = true;
      }
      })
    
  for articulo in articulos
    .articulo(id=articulo.id)!=articulo.contenido
