doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='/img/logo19.png')
    meta(property="og:title" content="CAM22")
    meta(property="og:description" content="Sitio Oficial de la Convención Argentina de Malabares")
    meta(property="og:type" content="article")
    meta(property="og:image" content="https://cam22.org/img/articulos/funcional.jpg")
    meta(property="og:url" content="https://cam22.org/")
  body
  
    block cabecera
    
    block menu
      if lang
        if lang == "en"
          .menu
            a(href="/en/") CAM22
            a(href="/en/history") History
            a(href="/en/orga") Organization
        else 
          if lang == "fr"
            .menu
              a(href="/fr/") CAM22
              a(href="/fr/histoire") Histoire
              a(href="/fr/orga") Organisation
      else
        .menu
          a(href="/") CAM22
          a(href="/historia") Historia
          a(href="/orga") Organización
          
    block contenido
    
    block pie
      .redes
        
        .lang
          a(href="/")
            img(src="/img/icon/arg.png" alt="Sitio en castellano")
            
          a(href="/en/")
            img(src="/img/icon/eng.png" alt="English Site")
            
          a(href="#" title="Estamos trabalhando para você")
            img(src="/img/icon/bra.png" alt="Site em portugues")
            
          a(href="/fr/")
            img(src="/img/icon/fra.png" alt="Site en français")
      
        .social
          a(href="https://www.facebook.com/convencionargentinademalabares/")
            img(src="/img/icon/fb.webp" alt="Facebook")
          a(href="https://www.instagram.com/conveargentinademalabares/")
            img(src="/img/icon/ig.webp" alt="Instagram")
