doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='/img/logo19.png')
  body
    block cabecera
    block menu
      .menu
        a(href="/") CAM22
        a(href="/historia") Historia
        a(href="/orga") Organización
    block contenido
    block pie
      .redes
