doctype html
html
  head
    title=titulo
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='/img/logo19.png')
    meta(property="og:title" content="CAM22")
    meta(property="og:description" content="Sitio Oficial de la Convención Argentina de Malabares")
    meta(property="og:type" content="article")
    meta(property="og:image" content="https://cam22.org/img/articulos/funcional.jpg")
    meta(property="og:url" content="https://cam22.org/")
  body
  
    block cabecera
    
    block menu
      include menu
          
    block contenido
    
    block pie
      .redes
        .lang
          a(href="/" title="Castellano")
            img(src="/img/icon/arg.png" alt="Sitio en castellano")
            
          a(href="/en/" title="English")
            img(src="/img/icon/eng.png" alt="English Site")
            
          a(href="/pt/" title="Estamos trabalhando para você")
            img(src="/img/icon/bra.png" alt="Site em portugues")
            
          a(href="/fr/" title="Français")
            img(src="/img/icon/fra.png" alt="Site en français")
      
        .social
          a(href="https://www.facebook.com/convencionargentinademalabares/")
            img(src="/img/icon/fb.webp" alt="Facebook")
          a(href="https://www.instagram.com/conveargentinademalabares/")
            img(src="/img/icon/ig.webp" alt="Instagram")
