#portada
  #telon(style="background-image: url(/img/logo19.png); background-size: contain; background-position: center; background-repeat: no-repeat;  background-color: #ffffffd6; background-blend-mode: color-burn;")
    .lang
      a(href="/" title="Castellano")
        img(src="/img/icon/arg.png" alt="Sitio en castellano")
        
      a(href="/en/" title="English")
        img(src="/img/icon/eng.png" alt="English Site")
        
      a(href="/pt/" title="Estamos trabalhando para você")
        img(src="/img/icon/bra.png" alt="Site em portugues")
        
      a(href="/fr/" title="Français")
        img(src="/img/icon/fra.png" alt="Site en français")
    #titulo
      h1(style="font-size: 2em; text-align: left; color: black;")=titulo
    #flechita
