.articulo
  position: relative
  padding: 0 10vw
  margin-top: 5em
  h1
    margin-top: 2em
    text-align: center
    font-weight: 400
    font-size: 2.5em
    font-family: 'Lulo'
  h2
    margin-top: 2em
    text-align: center
    font-weight: 400
    font-size: 1.2em
    font-family: 'Lulo'
  p
    padding: 0 2em
    text-align: justify
  img
    width: 80vw
    margin: 0 auto

hr
  margin: 5vw 20vw

#cam22
  h2:first-of-type
    font-size: 2em

#escuelita
  img
    width: 38vw
    float: right
    margin: 0 2em

#miramar
  img
    width: 35vw
    float: left
    margin: 2em
    margin-top: 0

.reversa
  transform: scaleX(-1)
  display: inline-block

#inscripciones

  h2
    font-size: 1.65em

  ul p
    padding: 0

  .btn
    letter-spacing: 8px
    font-size: 2em

    padding: 0.3em
    margin: 1em
    background: #8c4d70

    border-radius: 10px
    border-bottom: 4px solid #000
    border-right: 4px solid #000
    border-top: 2px solid #fff
    border-left: 2px solid #fff

    margin: 0vh 20vw
    margin-bottom: 10vh
    text-align: center
    a
      color: #FFF5E9
    &:hover
      a
        color: #98C3F0


@media only screen and (max-width: 800px)
  #inscripciones
    .btn
      margin: 0vh 5vw
