@import skin

.menu
  font-family: 'Lulo'

  position: relative
  width: 100vw
  height: 3em

  display: flex
  // flex-direction: row
  align-items: baseline
  justify-content: space-around

  background: var(--color-menu)



  div
    position: relative
    max-height: 3em
    z-index: 1
    background: var(--color-menu)
    padding: 0 1em
    overflow: hidden
    &:hover
      max-height: 50em
      border-bottom: 2px solid black
      .sep
        height: 0
        border-bottom: 2px solid #793a5d


  a
    display: block
    flex-grow: 1
    text-align: center
    padding: 1em 0
    transition: 0.2s

    &:hover
      text-shadow: 4px 4px black

@media only screen and (min-width: 1050px)
  .menu
    font-size: 1.2em

@media only screen and (max-width: 1050px)
  .menu
    font-size: 1.5em
