@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin+Sketch:wght@400;700&family=Fredericka+the+Great&family=Staatliches&family=Zilla+Slab+Highlight:wght@400;700&display=swap");
@font-face {
  font-family: Lulo;
  src: url("/fonts/lulo-clean/Lulo Clean One Bold.otf") format("opentype"); }

html {
  scroll-behavior: smooth; }

#portada.desktop video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

#portada.desktop .lang img {
  width: 3vh;
  margin: 1vw; }

#portada.mobile #telon {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex; }
  #portada.mobile #telon #titulo {
    position: absolute;
    top: 15vh;
    left: 10vh;
    transform: translateZ(1px); }
  #portada.mobile #telon #flamenco, #portada.mobile #telon #logo22 {
    position: absolute;
    background-size: contain; }
  #portada.mobile #telon #flamenco {
    width: calc(0.7 * 14vh);
    height: calc(0.7 * 36.524vh);
    background-image: url(/img/flamenco.png);
    right: 5vh;
    bottom: 10vh; }
  #portada.mobile #telon #logo {
    width: 10vh;
    height: 16.25vh;
    background-image: url(/img/logo22.png);
    left: 10vh;
    bottom: 10vh; }

#portada.mobile .lang img {
  width: 5vh;
  margin: 1vw; }

#portada {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  #portada #telon {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/trama.webp);
    z-index: 1;
    overflow: hidden; }
    #portada #telon .lang {
      position: absolute;
      top: 1vh;
      right: 1vw;
      z-index: 1; }
    #portada #telon #titulo {
      text-shadow: rgba(10, 189, 240, 0.3) 3px 3px 0px, rgba(254, 1, 1, 0.3) -3px -3px 0px, rgba(240, 200, 0, 0.3) 3px -3px 0px;
      text-align: left;
      font: 1.5em 'Lulo';
      color: white;
      width: 50vw;
      position: absolute;
      top: 10vh;
      left: 5vw; }
    #portada #telon #flechita {
      position: absolute;
      bottom: 5em;
      left: 5em;
      width: 1em;
      height: 1em;
      border-left: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid #fff;
      border-top: 20px solid #fff;
      transform: rotate(135deg);
      background: transparent;
      box-shadow: 4px -4px 3px #acacac;
      animation-duration: 2s;
      animation-name: flotar;
      animation-delay: 10s;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: 8;
      cursor: pointer; }
    #portada #telon #logo {
      width: calc(0.75 * 15vw);
      height: calc(0.75 * 23.2vw);
      background-image: url(/img/logo22.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 5vh;
      right: 12vw; }
    #portada #telon #flamenco {
      width: calc(0.45 * 14vw);
      height: calc(0.45 * 36.524vw);
      background-image: url(/img/flamenco.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 5vh;
      right: 3vw; }
    #portada #telon .link {
      position: absolute;
      right: 0;
      margin: 5em;
      font-family: 'Lulo';
      color: white;
      width: 15em;
      text-align: center;
      background: #3abff054;
      background-image: url(/img/waves.svg);
      background-size: 200%;
      border: 3px solid black;
      border-radius: 10px;
      transform: rotate(15deg);
      animation-duration: 1s;
      animation-name: grandir;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
      animation-iteration-count: 80; }
    #portada #telon #inscripciones {
      background: #3abff054;
      animation-delay: 2s;
      top: 5vh; }
    #portada #telon #postulaciones {
      background: #44af579c;
      animation-delay: 3s;
      top: 25vh; }

@keyframes grandir {
  0%  {
    transform: rotate(5deg) scale(1); }
  80%  {
    transform: rotate(10deg) scale(1); }
  100% {
    transform: rotate(15deg) scale(1.2); } }

@keyframes flotar {
  from {
    transform: translateY(0) rotate(135deg); }
  to {
    transform: translateY(5vh) rotate(135deg); } }

html {
  --color-base: #FFF5E9;
  --color-menu: #9b4b78;
  --color-comp-1: #33a8d0;
  --color-comp-2: #3a6f35; }

body {
  background-color: var(--color-base); }

.menu {
  background: var(--color-menu); }

.menu a {
  color: var(--color-base); }

.custom-shape-divider-top-1634214673 .shape-fill {
  fill: var(--color-menu); }

.custom-shape-divider-bottom-1634243669 .shape-fill {
  fill: var(--color-menu); }

.custom-shape-divider-bottom-1634243669 path:nth-of-type(1) {
  fill: var(--color-comp-1);
  transform: scaleY(1.5); }

.custom-shape-divider-bottom-1634243669 path:nth-of-type(2) {
  fill: var(--color-comp-2); }

/* Barra abajo */
.custom-shape-divider-top-1634244157 .shape-fill {
  fill: var(--color-menu); }

.custom-shape-divider-top-1634244157 path:nth-of-type(1) {
  fill: var(--color-comp-1);
  transform: scaleY(1.5); }

.custom-shape-divider-top-1634244157 path:nth-of-type(2) {
  fill: var(--color-comp-2); }

.articulo h1, .articulo h2, .articulo h3, #contacto h2 {
  color: var(--color-menu); }

.menu {
  font-family: 'Lulo';
  position: relative;
  width: 100vw;
  height: 3em;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background: var(--color-menu); }
  .menu div {
    flex-grow: 1;
    position: relative;
    max-height: 3em;
    z-index: 1;
    background: var(--color-menu);
    padding: 0 1em;
    overflow: hidden; }
    .menu div:hover {
      max-height: 50em;
      border-bottom: 2px solid black; }
      .menu div:hover .sep {
        height: 0;
        border-bottom: 2px solid #793a5d; }
  .menu a {
    flex-grow: 1;
    display: block;
    text-align: center;
    padding: 1em 0;
    transition: 0.2s; }
    .menu a:hover {
      text-shadow: 4px 4px black; }

@media only screen and (min-width: 1050px) {
  .menu {
    font-size: 1.2em; } }

@media only screen and (max-width: 1050px) {
  .menu {
    font-size: 1.5em; } }

.articulo {
  position: relative;
  padding: 0 10vw;
  margin-top: 5em; }
  .articulo h1 {
    margin-top: 2em;
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    font-family: 'Lulo'; }
  .articulo h2 {
    margin-top: 2em;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    font-family: 'Lulo'; }
  .articulo p {
    padding: 0 2em;
    text-align: justify; }
  .articulo img {
    width: 80vw;
    margin: 0 auto;
    border: 3px solid black; }

hr {
  margin: 5vw 20vw; }

#cam22 h2:first-of-type {
  font-size: 2em; }

#escuelita img {
  width: 38vw;
  float: right;
  margin: 0 2em; }

#miramar img {
  width: 35vw;
  float: left;
  margin: 2em;
  margin-top: 0; }

.reversa {
  transform: scaleX(-1);
  display: inline-block; }

#inscripciones strong, #postulaciones strong {
  font-size: 1.2em; }

#inscripciones h2, #postulaciones h2 {
  font-size: 1.65em; }

#inscripciones ul, #postulaciones ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  #inscripciones ul li, #postulaciones ul li {
    margin: 1.5em; }
  #inscripciones ul p, #postulaciones ul p {
    padding: 0; }

#inscripciones .btn, #postulaciones .btn {
  letter-spacing: 8px;
  font-size: 2em;
  padding: 0.3em;
  margin: 1em;
  background: #8c4d70;
  border-radius: 10px;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  margin: 0vh 20vw;
  margin-bottom: 10vh;
  text-align: center; }
  #inscripciones .btn a, #postulaciones .btn a {
    color: #FFF5E9; }
  #inscripciones .btn:hover a, #postulaciones .btn:hover a {
    color: #98C3F0; }

#inscripciones .jesus, #postulaciones .jesus {
  display: none; }

@media only screen and (max-width: 800px) {
  #inscripciones .btn {
    margin: 0vh 5vw; } }

.redes {
  height: 30vh;
  position: relative; }
  .redes .social {
    position: absolute;
    top: 20vh;
    right: 10vw; }
  .redes img {
    width: 5vh;
    margin: 1vh; }
  .redes .lang {
    position: absolute;
    top: 20vh;
    left: 10vw; }

.encolumnado {
  display: flex;
  margin: 8em 0em; }
  .encolumnado div {
    width: 30vw;
    padding: 0 5vw; }
    .encolumnado div h3 {
      font-size: 2em;
      margin: 0; }

.galeria {
  display: flex;
  flex-direction: row; }
  .galeria .columna {
    display: flex;
    flex-direction: column; }
  .galeria img {
    width: calc(70vw/3);
    cursor: pointer;
    margin: calc(10vw/6); }

#visualizador {
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #visualizador.desactivado {
    opacity: 0;
    pointer-events: none; }
  #visualizador.activado {
    opacity: 1;
    pointer-events: auto; }
  #visualizador #cerrar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1vw 2vw;
    color: white;
    font-size: 2em;
    cursor: pointer; }
  #visualizador img {
    max-width: 80vw;
    max-height: 80vh;
    border: 10px solid white; }
  #visualizador #izquierda, #visualizador #derecha {
    width: 1em;
    height: 1em;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    background: transparent;
    box-shadow: 4px -4px 3px #acacac;
    cursor: pointer; }
  #visualizador #izquierda {
    transform: rotate(-135deg); }
  #visualizador #derecha {
    transform: rotate(45deg); }

#cuete .foto {
  background-image: url(/img/orga/cuete.jpg);
  background-position: 50% 0%;
  background-size: 400%; }

#luci .foto {
  background-image: url(/img/orga/luci.jpg);
  background-position: center;
  background-size: 200%; }

#seba .foto {
  background-image: url(/img/orga/seba.jpg);
  background-position: center;
  background-size: 150%; }

#euge .foto {
  background-image: url(/img/orga/euge.jpg);
  background-position: 25% 0%;
  background-size: 170%; }

#maca .foto {
  background-image: url(/img/orga/maca.jpg);
  background-position: 50% 80%;
  background-size: 200%; }

#gabi .foto {
  background-image: url(/img/orga/gabi.jpg);
  background-position: 70% 30%;
  background-size: 160%; }

#esteban .foto {
  background-image: url(/img/orga/esteban.jpg);
  background-position: center;
  background-size: 140%; }

#sofi .foto {
  background-image: url(/img/orga/sofi.jpg);
  background-position: center;
  background-size: 100%; }

#vladi .foto {
  background-image: url(/img/orga/vladi.jpg);
  background-position: 0% 35%;
  background-size: 240%; }

.integrante {
  margin: 10vw 20vw;
  position: relative; }
  .integrante h3 {
    font-size: 2em;
    padding-left: 2.8em;
    font-family: 'Zilla Slab Highlight'; }
  .integrante .foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 10vw;
    background-position: center;
    background-size: cover;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-5vw, -3vw);
    border: 2px solid black; }
  .integrante p {
    margin-left: 5vw; }
  .integrante * {
    transition: 0.7s; }
  .integrante:hover .foto {
    transform: translate(-7vw, -3vw); }
  .integrante:hover h3 {
    transform: translateY(-1vw); }
  .integrante:hover p {
    transform: translateX(1vw); }

#contacto {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 5vw; }
  #contacto h2 {
    margin-top: 2em;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Lulo'; }
  #contacto .g {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    #contacto .g * {
      padding: 1vw; }
  #contacto #texto {
    height: 40vh; }
  #contacto #enviar {
    width: 10vw;
    margin: 1em;
    padding: 1em;
    align-self: end;
    background: white;
    border-radius: 1em; }
  #contacto #flash {
    opacity: 0;
    transition: 1s;
    text-align: right; }
    #contacto #flash.visible {
      opacity: 1; }
  #contacto ul {
    list-style: none; }
    #contacto ul li {
      margin: 1em; }

html {
  --color-base: #FFF5E9;
  --color-menu: #9b4b78;
  --color-comp-1: #33a8d0;
  --color-comp-2: #3a6f35; }

body {
  background-color: var(--color-base); }

.menu {
  background: var(--color-menu); }

.menu a {
  color: var(--color-base); }

.custom-shape-divider-top-1634214673 .shape-fill {
  fill: var(--color-menu); }

.custom-shape-divider-bottom-1634243669 .shape-fill {
  fill: var(--color-menu); }

.custom-shape-divider-bottom-1634243669 path:nth-of-type(1) {
  fill: var(--color-comp-1);
  transform: scaleY(1.5); }

.custom-shape-divider-bottom-1634243669 path:nth-of-type(2) {
  fill: var(--color-comp-2); }

/* Barra abajo */
.custom-shape-divider-top-1634244157 .shape-fill {
  fill: var(--color-menu); }

.custom-shape-divider-top-1634244157 path:nth-of-type(1) {
  fill: var(--color-comp-1);
  transform: scaleY(1.5); }

.custom-shape-divider-top-1634244157 path:nth-of-type(2) {
  fill: var(--color-comp-2); }

.articulo h1, .articulo h2, .articulo h3, #contacto h2 {
  color: var(--color-menu); }

.custom-shape-divider-top-1634214673 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.custom-shape-divider-top-1634214673 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 111px; }

.custom-shape-divider-bottom-1634243669 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.custom-shape-divider-bottom-1634243669 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 39px; }

.custom-shape-divider-top-1634244157 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: 1em; }

.custom-shape-divider-top-1634244157 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 40px; }

#talleres .taller {
  padding: 0 20vw;
  margin: 5em 0; }
  #talleres .taller div {
    cursor: pointer;
    border: 3px solid;
    margin: 1em;
    padding: 2em;
    min-height: 12em;
    display: flex;
    align-items: center;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    background-size: cover;
    background-position: center;
    background-color: #69b9ea;
    background-blend-mode: none;
    transition: 1s; }
    #talleres .taller div p {
      opacity: 0;
      transition: 1s;
      font-family: 'Lulo'; }
  #talleres .taller.activo div {
    background-blend-mode: saturation; }
    #talleres .taller.activo div p {
      opacity: 1; }
  #talleres .taller h3, #talleres .taller h4 {
    font-family: 'Lulo'; }
  #talleres .taller h3 {
    font-size: 2em;
    margin-bottom: 0; }
  #talleres .taller h4 {
    font-size: 1.2em;
    margin: .3em 0; }

body {
  padding: 0;
  margin: 0;
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden; }

a {
  color: #00B7FF;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */