extends ../layout

block contenido
  .articulo
    .cabecera
      h2 Equipe d'organisation de la CAM
      
    .integrante#cuete
      .foto
      h3 Gonzalo "Cuete" Borgogno
      p Il est membre de "La Parlota Circo" depuis 2005. Il a été ambassadeur de la Fondation Viktor Kee. A organisé des festivals et des événements éducatifs depuis 2007 en Argentine et au Chili. Il est coordinateur de la Convention latino-américaine de la roue cyr. Dirige et gère le festival de cirque de San francirco.
      
    .integrante#luci
      .foto
      h3 Luciana Balangione
      p Depuis 2005, elle enseigne le chant et les arts de la scène en milieu privé et institutionnel. Elle a été coach vocal et directrice de groupes choraux. Elle intègre "La Parlota Circo". Elle est collaboratrice et organisatrice du CAM. Travaille en tant que manager/producteur pour Piaf Hall.
      
    .integrante#seba
      .foto
      h3 Sebastián Rojo
      p Dans l'enseignement et sur scène, il explore, théoriquement et expérimentalement, les éléments impliqués dans la créativité et l'improvisation: attention, mouvement authentique, présence. De là, il conseille, dirige, produit, écrit et transmet ses idées. Compagnie Santuanime. Collectif A-Nido. Le silence où j'écoute (El Silencio Donde Escucho).
        
    .integrante#euge
      .foto
      h3 María Eugenia Peirone
      p Professeur et bachelier en sciences de l'éducation (UNC). Elle travaille dans la formation des enseignants. Ancien coordinateur académique du baccalauréat en arts du cirque contemporains, Cirko de Mente, Mexique. Elle est membre du collectif A-Nido, un projet de recherche pédagogique sur l'enseignement du cirque en Argentine.
        
    .integrante#maca
      .foto
      h3 Javier Ernesto Goffré
      p Baccalauréat en cinéma et télévision (UNC). Il se consacre au cirque et au théâtre d'objets. Il fait partie de la Cie Santuanimé avec laquelle il a donné plusieurs spectacles depuis 2004. Il fait partie de la Fundación por el Teatro, du Chacarita Teatro et est technicien de scène au CAM depuis sa première édition.
        
    .integrante#gabi
      .foto
      h3 Gabriela Rojo
      p Jongleur, magicien et marionnettiste. Elle commence à faire du cirque en 2002. Elle est membre de la Cie Santuanimé (2004) et de Cie Sin Pestañear (2019). Elle fait partie du Cercle Magique de Cordoue (2004) et APTCC (2020). Elle a participé à l'organisation de rencontres, festivals (Circus on Stage 2007 à 2013), Congrès, etc.
        
    .integrante#esteban
      .foto
      h3 Esteban Sosa
      p Président et fondateur de la coopérative de travail Circo Del Litoral. Artiste et metteur en scène de spectacles de cirque-théâtre. Gérant et producteur artistique à Santa Fe et sa zone d'influence. Gestionnaire de communauté CAM. Réviseur de compte à l'association civile du cirque Siambretta.
        
    .integrante#sofi
      .foto
      h3 Sofía Molinari
      p Depuis 2013 formation d'acrobate et d'artiste du spectacle. Elle a été formatrice en techniques de voltige. Elle est coordinatrice et gérante du Festival du Cirque « San Francirco ». Elle est assistante comptable et secrétaire de direction du CAM. Elle est bénévole pour la convention latino-américaine de la roue cyr.
        
    .integrante#vladi
      .foto
      h3 Vladimir Charkot
      p Il a étudié avec Sebastián Rojo. Plongé dans l'étude de la jonglerie, de l'improvisation, des langues, de la cognition, du comportement, de l'histoire, des arts et des sciences humaines, et des systèmes en général. Enseigne la programmation et donne des ateliers de jonglage. Membre du Collectif A-Nido. Exécute en tant que technicien informatique au CAM.
        
    
