extends ../layout

block contenido
  .articulo
    .cabecera
      h2 CAM Organization Team
      
    .integrante#cuete
      .foto
      h3 Gonzalo "Cuete" Borgogno
      p He's a member of "La Parlota Circo" since 2005. He was an ambassador for the Viktor Kee Foundation. Has organized festivals and educational events since 2007 in Argentina and Chile. He's coordinator of the Latin American Convention of cyr wheel. Directs and manages the San francirco circus festival.
      
    .integrante#luci
      .foto
      h3 Luciana Balangione
      p Since 2005, she has been teaching singing and performing arts classes in private and institutional settings. She has been a vocal coach and director of choral groups. She integrates "La Parlota Circo". She is a collaborator and organizer of CAM. Works as manager/producer for Piaf Hall.
      
    .integrante#seba
      .foto
      h3 Sebastián Rojo
      p In teaching and on stage he investigates, theoretically and experientially, elements involved in creativity and improvisation: attention, genuine movement, presence. From there he advises, directs, produces, writes and transmits his ideas. Santuanimé Company. A-Nido Collective. The Silence Where I Listen (El Silencio Donde Escucho).
        
    .integrante#euge
      .foto
      h3 María Eugenia Peirone
      p Professor and Bachelor of Education Sciences (UNC). She works in Teacher Training. Former Academic Coordinator of the Bachelorate In Contemporary Circus Arts, Cirko de Mente, Mexico. She is a member of A-Nido Collective, an educational circus research project in Argentina.
        
    .integrante#maca
      .foto
      h3 Javier Ernesto Goffré
      p Bachelor in Film and TV (UNC). He is dedicated to the circus and the theater of objects. He is part of the Santuanimé Company with whom he has performed several shows since 2004. He is part of the Fundación por el Teatro, the Chacarita Teatro and has been a stage technician at CAM since its first edition.
        
    .integrante#gabi
      .foto
      h3 Gabriela Rojo
      p Juggler, magician and puppeteer. She starts doing circus in 2002. She is a member of the Santuanimé Company (2004) and Cía Sin Pestañear (2019). She is part of the Magic Circle of Córdoba (2004) and APTCC (2020). She has participated in the organization of meetings, festivals (Circus on Stage 2007 to 2013), Congresses, etc.
        
    .integrante#esteban
      .foto
      h3 Esteban Sosa
      p President and founder of the work cooperative Circo Del Litoral. Artist and director of circus-theater shows. Manager and artistic producer in Santa Fe and its area of influence. CAM community manager. Account reviewer at Siambretta circus civil association.
        
    .integrante#sofi
      .foto
      h3 Sofía Molinari
      p Since 2013 training as an acrobat and performing artist. She has been a trainer in aerobatics techniques. She is coordinator and manager in the “San Francirco” Circus Festival. She is an accounting assistant and executive secretary of the CAM. She volunteers for the cyr wheel latin american convention.
        
    .integrante#vladi
      .foto
      h3 Vladimir Charkot
      p He studied with Sebastián Rojo. Delved into the study of juggling, improvisation, languages, cognition, behavior, history, arts and human sciences, and systems in general. Teaches programming and conducts club juggling workshops. Member of the A-Nido Collective. Performs as computer technician at CAM.
        
    
